.footer-section {
    background-color: #111;
    font-family: 'Inter', sans-serif;
  }
  
  .bg-maroon {
    background-color: #3d1c25;
  }
  
  .text-maroon {
    color: #be315b;
  }
  
  .footer-desc {
    font-size: 14px;
    color: #ccc;
  }
  
  .social-icon {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }

  .footer-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #C63C63; /* Your theme color */
  }
  
  
  